*{
    margin: 0px;
    scroll-behavior: smooth;
}

@font-face
{
    font-family: 'lemon-days';
    src: url('./fuentes/LemonDays.otf');
}


.movimientoDeMano{
    animation-duration: 3s;
    animation-name: movDeMano;
    animation-iteration-count:infinite;
}

@keyframes movDeMano{
    50%{
      transform: translateY(25px);  
    }
}

/* fotos */
.ticket{
    width:100vw;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; 
}
.seguimos{
    width:100vw;
    height:90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; 
}
.primavera{
    width:100%;
    height:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; 
}

.fondo{
    background-image: url('./fotos/fondo.png');
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size:auto;
    height: 100vh;
    background-attachment:fixed;
    background-position: center;
}

.spotify{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 15;
}

.spotify2{
    width: 90vw;
    height: 27.5vh;
    overflow: hidden;
    margin-top: 50px;
    z-index: 15;
}

.boxTitulo{
    width: 100vw;
    height:40vh;
    background-image: url("./fotos/logo.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 100%;
    margin: 0px;
    background-position-y:27.5%;
}

.boxTiempo{
    width: 100vw; 
    height: 27.5vh;
}

.tickets{
    width: 75vw; 
    height: 35vh;
    margin-top: 100px;
}

.letra{
    font-family: 'lemon-days';
}

.tiempos{
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 7px;
    font-family: 'lemon-days';
    font-size: 17px;
}

.tiempos2{
    height: 45%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    font-family: 'lemon-days';
}

.procimaFecha{
    overflow: hidden;
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.166);
    border-radius: 10px;
}
/* -------como llegar---------- */
.comoLlegar{
    height: 50px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    margin-bottom: 50px;
}

.fotos{
    width: 85vw;
    height: 55vh;
}

.fotosDelaUltimaBeer{
    margin-bottom: 50px;
    width:100%;
    height:80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain; 
}

/* -------publicidad------- */
.boxPublicidad{
    width:100vw;
    height:150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}


@media(max-height:500px){
    .insta{
        display: none;
    }
    .fondo{
        height: 170vh;
    }
    .tiempos{
        height:70px !important;
    }
    .seguimos{
        display: none;
    }
    .spotify{
        display: none;
    }
    .spotify2{
        display: none;
    }
}

@media (max-width:600px){
    .primavera{
        height:35px;
        width:100%;
    }
    .boxTitulo{
        min-height:200px;
    }
    .boxTiempo{
        transform: translateY(-50px);
        width: 100%;
        height: 32.5vh; 
        margin-bottom: 7vh;
    }
    .tiempos{
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 3px;
        height: 60px;
        font-size: 13px;
    }
    .procimaFecha{
        width: 70%;
    }
    .ajuste1{
        margin: 0px;
    }
    .tickets{
        height: 20%;
        margin-top: 0px 
    }
    .fondo{
        background-size:auto;
        background-image: url('./fotos/fondo.png') !important;
        height: 270vh;
    }
    .spotify2{
        height: 32.5vh;
        /* transform: translateY(20px); */
    }
}


@media (min-width:935px){
    .primavera{
        height:70px;
        width:100%;
    }
    .boxDeSeguirnos{
        height: 50px;
        margin-bottom: 20px ;
    }
    .fondo{
        background-size:cover;
        height: 325vh;
    }
    .spotify2{
        width: 50vw;
        height: 30vh;
        overflow: hidden;
        margin-top: 50px;
    }
    .boxTitulo{
        transform: translateY(10px);
        width: 50%;
        background-size: 80%;
    }
    .boxTiempo{
        transform: translateY(0px);
        width: 70%;
        height: 37.5vh;
    }
    .spot{
        margin-top: 90px;
        width: 50vw;
    }
}