*{
    margin: 0px;
}

@font-face
{
    font-family: 'lemon-days';
    src: url('./fuentes/LemonDays.otf');
}


.movimientoDeMano{
    animation-duration: 3s;
    animation-name: movDeMano;
    animation-iteration-count:infinite;
}

@keyframes movDeMano{
    50%{
      transform: translateY(25px);  
    }
}

/* fotos */
.fotosDelaUltimaBeer{
    height: 600px;
}
.ticket{
    height: 500px;
}
.publicidad{
    margin-top: 100px;
    height: 800px;
    width: 150%;
    z-index: 1;
}
.seguimos{
    margin: 100px;
    height: 500px;
}
.primavera{
    height: 500px;
}

.fondo{
    background-image: url('./fotos/fondo1.png');
    background-position: 100%;
    background-repeat: no-repeat;
    background-size:auto;
    height: 230vh;
    background-attachment:fixed;
    /* background-blend-mode: darken; */
}

.spotify{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.spotify2{
    width: 90vw;
    height: 27.5vh;
    overflow: hidden;
    margin-top: 50px;
}

.boxTitulo{
    width: 100vw;
    height:40vh;
    background-image: url("./fotos/logo.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: 100%;
    margin: 0px;
    background-position-y:27.5%;
}

.boxTiempo{
    width: 100vw; 
    height: 27.5vh;
}

.tickets{
    width: 75vw; 
    height: 25vh;
    margin-top: 100px;
}

.fotos{
    width: 75vw;
    height: 20vh;
    margin-top: 100px;
    margin-bottom: 50px;
}

.letra{
    font-family: 'lemon-days';
}

.tiempos{
    height: 45%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 7px;
    font-family: 'lemon-days';
    font-size: 17px;
}

.tiempos2{
    height: 45%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    font-family: 'lemon-days';
}

.procimaFecha{
    overflow: hidden;
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.166);
    border-radius: 10px;
}

@media(max-height:500px){
    .insta{
        display: none;
    }
    .fondo{
        height: 170vh;
    }
    .boxPublicidad{
        transform: translateY(0px);
    }
    .tiempos{
        height:70px !important;
    }
    .spotify2{
        display:none;
    }
    .spotify{
       display:none;
    }
    .publicidad{
        margin: 0px;
    }
    .seguimos{
        display: none;
    }
}

@media (max-width:400px){
    .primavera{
        height: 400px;
    }
    .seguimos{
        height: 350px;
    }
    .publicidad{
        height: 500px;
        width: 150%;
    }
    .fotosDelaUltimaBeer{
        height: 500px;
    }
    .ticket{
        height: 400px;
    }
    .boxTitulo{
        min-height:200px;
    }
    .boxTiempo{
        transform: translateY(-50px);
        width: 100%;
        height: 32.5vh; 
        margin-bottom: 7vh;
    }
    .tiempos{
        margin-right: 2px;
        margin-left: 2px;
        margin-top: 3px;
        height: 32.5%;
        font-size: 13px;
    }
    .procimaFecha{
        width: 70%;
    }
    .ajuste1{
        margin: 0px;
    }
    .tickets{
        margin-top: 120px;
        transform: translateY(-70px);
    }
    .fotos{
        margin-top: 60px;
        margin-bottom: 30px;
        /* transform: translateY(70px); */
    }
    .fondo{
        height: 250vh;
    }
    .spotify2{
        height: 22.5vh;
        /* transform: translateY(20px); */
    }
}


@media (min-width:735px){
    .primavera{
        height: 700px;
    }
    .publicidad{
        margin-top: 100px;
        /* width: 150%; */
    }
    .ticket{
        height: 600px;
    }
    .fondo{
        background-size:cover;
        height: 295vh;
    }
    .spotify2{
        width: 50vw;
        height: 30vh;
        overflow: hidden;
        margin-top: 50px;
    }
    .boxTitulo{
        transform: translateY(10px);
        width: 50%;
        background-size: 80%;
    }
    .boxTiempo{
        transform: translateY(0px);
        width: 70%;
        height: 37.5vh;
    }
    .tickets{
        margin-bottom: 50px;
    }
    .spot{
        margin-top: 90px;
        width: 50vw;
    }
}